{% extends 'base.html.twig' %}

{% block title %}Ambiente index{% endblock %}

{% block body %}
    <h1>Ambiente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Piso</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ambiente in ambientes %}
            <tr>
                <td>{{ ambiente.id }}</td>
                <td>{{ ambiente.nombre }}</td>
                <td>{{ ambiente.piso }}</td>
                <td>{{ ambiente.precio }}</td>
                <td>{{ ambiente.estado }}</td>
                <td>
                    <a href="{{ path('app_ambiente_show', {'id': ambiente.id}) }}">show</a>
                    <a href="{{ path('app_ambiente_edit', {'id': ambiente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ambiente_new') }}">Create new</a>
{% endblock %}
